# Guidebook
public net.minecraft.client.gui.Font getFontSet(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/gui/font/FontSet;
public net.minecraft.client.gui.screens.LoadingOverlay reload
public net.minecraft.world.item.crafting.SmithingTrimRecipe template
public net.minecraft.world.item.crafting.SmithingTrimRecipe base
public net.minecraft.world.item.crafting.SmithingTrimRecipe addition
public net.minecraft.world.item.crafting.SmithingTransformRecipe template
public net.minecraft.world.item.crafting.SmithingTransformRecipe base
public net.minecraft.world.item.crafting.SmithingTransformRecipe addition

public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_LINES_SHADER
public net.minecraft.client.renderer.RenderStateShard VIEW_OFFSET_Z_LAYERING
public net.minecraft.client.renderer.RenderStateShard ITEM_ENTITY_TARGET
public net.minecraft.client.renderer.RenderStateShard COLOR_WRITE
public net.minecraft.client.renderer.RenderStateShard NO_CULL
public net.minecraft.client.renderer.RenderStateShard LIGHTMAP
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_TRANSLUCENT_NO_CRUMBLING_SHADER

public net.minecraft.client.renderer.RenderStateShard BLOCK_SHEET_MIPPED
public net.minecraft.client.renderer.RenderStateShard NO_TEXTURE

public net.minecraft.client.renderer.RenderStateShard NO_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard ADDITIVE_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard LIGHTNING_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard GLINT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard CRUMBLING_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard TRANSLUCENT_TRANSPARENCY

public net.minecraft.client.renderer.RenderStateShard NO_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard EQUAL_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard LEQUAL_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard GREATER_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_TRANSLUCENT_SHADER

# Introspection of RenderType
public net.minecraft.client.renderer.RenderStateShard name # name

public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeRenderType state()Lnet/minecraft/client/renderer/RenderType$CompositeState;
public net.minecraft.client.renderer.RenderType$CompositeState states
public net.minecraft.client.renderer.RenderType$CompositeState shaderState
public net.minecraft.client.renderer.RenderType$CompositeState textureState
public net.minecraft.client.renderer.RenderType$CompositeState transparencyState
public net.minecraft.client.renderer.RenderType$CompositeState depthTestState
public net.minecraft.client.renderer.RenderType$CompositeState cullState
public net.minecraft.client.renderer.RenderType$CompositeState lightmapState
public net.minecraft.client.renderer.RenderType$CompositeState overlayState
public net.minecraft.client.renderer.RenderType$CompositeState layeringState
public net.minecraft.client.renderer.RenderType$CompositeState outputState
public net.minecraft.client.renderer.RenderType$CompositeState texturingState
public net.minecraft.client.renderer.RenderType$CompositeState writeMaskState
public net.minecraft.client.renderer.RenderType$CompositeState lineState
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard mipmap
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard blur
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard texture
public net.minecraft.client.renderer.RenderStateShard$ShaderStateShard shader
public net.minecraft.client.renderer.texture.SpriteContents originalImage

# Introspecting animated sprites
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture
public net.minecraft.client.renderer.texture.SpriteContents animatedTexture
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture frames
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture interpolateFrames
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture frameRowSize
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo index
public net.minecraft.client.renderer.texture.SpriteContents$FrameInfo time

public net.minecraft.client.renderer.texture.TextureAtlas sprites
public net.minecraft.client.renderer.texture.TextureAtlas getWidth()I
public net.minecraft.client.renderer.texture.TextureAtlas getHeight()I
public net.minecraft.client.renderer.texture.SpriteContents$AnimatedTexture uploadFrame(III)V

public net.minecraft.world.item.crafting.RecipeManager byType(Lnet/minecraft/world/item/crafting/RecipeType;)Ljava/util/Map;

protected net.minecraft.client.gui.GuiGraphics applyScissor(Lnet/minecraft/client/gui/navigation/ScreenRectangle;)V
protected net.minecraft.client.gui.GuiGraphics <init>(Lnet/minecraft/client/Minecraft;Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource$BufferSource;)V # <init>
protected net.minecraft.client.gui.screens.Screen deferredTooltipRendering # deferredTooltipRendering
public net.minecraft.client.gui.screens.Screen$DeferredTooltipRendering
public net.minecraft.client.gui.screens.Screen$DeferredTooltipRendering <init>(Ljava/util/List;Lnet/minecraft/client/gui/screens/inventory/tooltip/ClientTooltipPositioner;)V

public net.minecraft.client.renderer.texture.TextureAtlas texturesByName
