/**
 * Try to be responsive on mobile
 */
@media screen and (max-width: 1023px) {
  .recipe-container {
    max-width: 100vw;
  }

  .recipe-container > div + div {
    margin-top: 1rem;
  }

  .recipe-container + .recipe-container {
    margin-top: 1rem;
  }

  .recipe-container > :first-child {
    display: flex;
    justify-content: center;
  }

  .recipe-container .recipe-arrow {
    width: 9vw;
    height: auto;
  }
}

.recipeBoxLayout {
  display: inline-grid;
  grid-template-rows: auto auto;
  grid-template-columns: max-content 1fr max-content;
  row-gap: 10px;
  column-gap: 10px;
  align-items: center;
  padding: 2px;
}

/* This is the title row */
.recipeBoxLayout > :first-child {
  grid-column: 1 / span 3;
  color: #333333;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.recipeBoxLayout > :first-child .item-icon,
.recipeBoxLayout > :first-child .fluid-icon {
  width: calc(8px * var(--gui-scale));
  height: calc(8px * var(--gui-scale));
}

.fluidIcon {
  width: calc(8px * var(--gui-scale));
  height: calc(8px * var(--gui-scale));
}

.ingredients-box,
.ingredients-box-shapeless-1col,
.ingredients-box-shapeless-2col,
.ingredients-box-shapeless-3col {
  display: inline-grid;
  align-self: center;
  justify-self: start;
}

.ingredients-box {
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.ingredients-box-shapeless-1col {
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
}

.ingredients-box-shapeless-2col {
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.ingredients-box-shapeless-3col {
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.recipe-arrow {
  align-self: center;
  justify-self: center;
  width: 85px;
  height: 50px;
}

.empty-ingredient-box,
.ingredient-box {
  display: inline-block;
  width: calc(18px * var(--gui-scale));
  height: calc(18px * var(--gui-scale));
  box-sizing: border-box;

  border: calc(1px * var(--gui-scale)) solid;
  image-rendering: pixelated;
  border-image-source: url("../assets/slot.png");
  border-image-slice: 1 fill;
}

.ingredient-box:hover {
  background-color: #aaaaaa;
}

/**
 * Implements cycling ingredients display by hiding everything but the first element.
 * JavaScript takes care of essentially rotating the child elements through in an interval.
 */
.ingredient-box.cycling {
  /* Initially, hide everything but the first element, this is before the JavaScript kicks in */
  &:not(.is-cycling) {
    & > :not(:first-child) {
      display: none;
    }
  }
  /* After the JS starts cycling, it will set the is-cycling class */
  &.is-cycling {
    & > * {
      display: none;
    }
    & > .current {
      display: initial;
    }
  }
}

.smelting-input-box {
  display: flex;
  flex-direction: column;
}

.smelting-input-box > :first-child {
  margin-bottom: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.smelting-input-box .fire {
  margin: calc(1px * var(--gui-scale));
  width: calc(16px * var(--gui-scale));
  height: calc(16px * var(--gui-scale));
  background-image: url(../assets/smelt.png);
  background-size: contain;
}

.smelting-input-box > :last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.inscriberGrid {
  display: grid;
  grid-template-columns: auto auto max-content auto;
  grid-template-rows: auto auto auto;
  grid-column: 1 / span 3;
  align-items: center;
  justify-items: center;
}

/* top */
.inscriberGrid > :nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

/* middle */
.inscriberGrid > :nth-child(2) {
  grid-row: 2;
  grid-column: 2;
}

/* bottom */
.inscriberGrid > :nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

/* result */
.inscriberGrid > :nth-child(4) {
  grid-row: 2;
  grid-column: 4;
}

/* top arrow */
.inscriberGrid > :nth-child(5) {
  grid-row: 1;
  grid-column: 2;
  width: calc(17px * var(--gui-scale));
  height: auto;
  margin-top: calc(10px * var(--gui-scale));
}

/* bottom arrow */
.inscriberGrid > :nth-child(6) {
  grid-row: 3;
  grid-column: 2;
  width: calc(17px * var(--gui-scale));
  height: auto;
  margin-bottom: calc(10px * var(--gui-scale));
}

/* right arrow */
.inscriberGrid > :nth-child(7) {
  grid-row: 2;
  grid-column: 3;
  width: auto;
  height: calc(16px * var(--gui-scale));
}
